#calendar {
    width: 700px;  /* Largura fixa do calendário */
    margin: 0 auto;  /* Centraliza o calendário na página */
    min-height: 600px;  /* Altura mínima */
    max-height: 700px;  /* Altura máxima */
    margin-left: 180px;
}
