*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}
.container {
    width: 100%;
    min-height: 100px;
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #615454;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
  color:#ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app i{
 width: 30px;
 margin-left: 10px;
}

.row{
 display: flex;
 align-items: center;
 justify-content: space-between;   
 background-color: rgba(0, 0, 0, 0.6); 
 border-radius: 30px;
 padding-left: 20px;
 margin-bottom: 25px;

}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border:none;
    outline: none;
    padding: 16px 50px;
    background: #e2e2e2;
    color:black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {

   content: '';
   position: absolute;
   height: 28px;
   width: 28px;
   border-radius: 50%;
   background-image: url(image/radio_button_unchecked_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png);
   background-size: cover;
   background-position: center;
   top: 12px;
   left: 12px;
}

  ul li.checked {
    color: #b6aeae;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
      background-image: url(image/check.png);
  }
  
  ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#f7f7f7;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #b6aeae;

}