{% extends 'sidebar.html' %}

{% block conteudo %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/calendarStyle.css') }}">
<div id="calendar"></div>

<script>
    let calendarEL = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarEL, {
        events: {{ events | tojson }}  // Passando os eventos do Flask para o FullCalendar
    });

    calendar.render();
</script>

{% endblock conteudo %}
