{% extends 'base.html' %}
{% block title %}{{ _('Minhas Notas') }}{% endblock %}

{% block content %}
<h2 class="mb-4">📝 {{ _('Minhas Notas') }}</h2>

<a href="{{ url_for('create_note') }}" class="btn btn-add pastel mb-3" accesskey="n">+ {{ _('Nova Nota') }}</a>

<div class="list-group">
    {% for note in notes %}
    <div class="list-group-item rounded shadow-sm mb-2">
        <p>{{ note.content }}</p>
        <a href="{{ url_for('delete_note', id=note.id) }}" class="btn btn-outline-danger btn-sm" accesskey="a">{{ _('Excluir') }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
